body{
    color: #2c2c2c;
    text-align: center;
    font-family: helvetica;
    margin: 0;
    padding: 0;
    background: #1e1f24;
}
.post{
    width: 45%;
    margin: 2.5%;
    background-color: #ffe2e4;
    color: #2c2c2c;
    float: left;
    padding-bottom: 10px;
    
}
.post:hover{
    width: 45%;
    margin: 2.5%;
    background-color: #ffe2e4;
    color: #2c2c2c;
    float: left;
    box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.363);
    transition: all linear 0.20s;
}
.contenedor-maestro{
    width: 70%;
    margin: 0 auto;
    margin-top: 25px;
    border: 1px solid #dddddd;
}
h2{
    font-size: 20px;
}
h1{
    color: #fcfcfc;
}

#cabecera{
    background: rgb(170, 51, 51);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.363);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    text-align: left;
    padding-left: 25px;
}

#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#footer{
    background: rgb(204, 204, 204);
    padding: 0px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
