*{

}

body{
    color: #2c2c2c;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fcfcfc;
    margin: 0;
    padding: 0;
}
.post1{
    width: 45%;
    margin: 2.5%;
    background-color: #4effca;
    color: #2c2c2c;
    float: left;
    
}
.post2{
    width: 45%;
    margin: 2.5%;
    background-color: #6be1ff;
    color: #2c2c2c;
    float: left;
   
}
.contenedor-maestro{
    width: 100%;
}
h2{
    font-size: 20px;
}

